.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.deck {
    max-width: 95%;
    width: 660px;
    background: linear-gradient(black,deepskyblue);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    
}

li {
    width: 125px;
    height: 125px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid dimgray; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    
}

i {
    visibility: hidden;
    
}

.picked {
    background-color: plum;
    
}

.correctPick {
    background-color: lightgreen;
}

.incorrectPick {
    background-color: orangered;
}

.visible {
    visibility: visible;
}

.pickedIcon {
    visibility: hidden;
    transition-delay: 3s;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
}

.winContent {
   
}
.close {
    float: right;
}
.message {
    text-align: center;
}
    