body {
    font-family: 'Orbitron', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.deck {
    max-width: 660px;
    width: 660px;
    background: linear-gradient(black,deepskyblue);
    padding: 32px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 3em;
    
    
}

li {
    width: 125px;
    height: 125px;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 4px solid dimgray; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
    
}

i {
    visibility: hidden;
    font-size: 1.33em;
    
    
}

.picked {
    background-color: plum;
    
}

.correctPick {
    background-color: lightgreen;
}

.incorrectPick {
    background-color: orangered;
}

.visible {
    visibility: visible;
}

.pickedIcon {
    visibility: hidden;
    transition-delay: 3s;
   
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10%;
}

.winContent {
    margin: 10% 20%;
    border: solid black 3px;
    padding: 10px;
}
.close {
    float: right;
    
}
.message {
    text-align: center;
    font-size: 3em;
}

.time,
.score {
    text-align: center;
}

#reset {
    border: solid black 2px;
    padding: 5px;
    border-radius: 3px;
}

#reset:hover {
    background-color: lightgray;
}